/* Common styles */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

html {
  font-size: 10px;
}

body {
  min-height: 100vh;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 130%;
  color: #fff;
}

button {
  cursor: pointer;
  font-family: 'Noto Sans', sans-serif;
  color: #fff;
  text-transform: uppercase;
}

a {
  color: inherit;
}

.section-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 10rem;
  /* white-space: nowrap; */
  margin-right: 4rem;
  color: #ddd;
}

.section-line {
  height: 0.2rem;
  width: 13rem;
  background-color: #ddd;
}

.button {
  font-size: 2rem;
  border: none;
  border-radius: 3rem;
  text-transform: uppercase;
  padding: 1rem;
}

.button--default {
  background: linear-gradient(to right, #9b0e0e, #7a1010);
  border: 0.1rem solid #800505;
  box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.5);
  text-shadow: 0.6rem 0.3rem 0.2rem rgba(0, 0, 0, 0.4);
}

.column {
  display: flex;
  align-items: center;
}

.container {
  padding: 0 9rem;
}

.input {
  background-color: #444444;
  width: 100%;
  padding: 1.4rem;
}

.input::placeholder {
  letter-spacing: 0.1rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 300;
  color: #757575;
  font-family: 'Oswald', sans-serif;
  border: none;
}

textarea {
  resize: none;
}
/* End of Common styles */

/* Header styles */
.header {
  position: fixed;
  top: -8rem;
  left: 0;
  right: 0;
  height: 8rem;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  animation: headerAnimation 1s 0.5s forwards;
  transition: height 0.5s ease-in-out;
  overflow: hidden;
}

.header.active {
  height: 100vh;
}

.logo {
  position: absolute;
  top: 2rem;
  left: 3rem;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: 0.1rem;
  color: #eee;
}

.logo span {
  color: #9e0e09;
  font-size: 3.5rem;
}

.burger {
  position: absolute;
  top: 2.5rem;
  right: 3rem;
  width: 4rem;
  height: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.burger__line {
  width: 100%;
  height: 0.2rem;
  background-color: #eee;
}

.burger::before {
  content: '';
  width: 2rem;
  height: 0.2rem;
  position: absolute;
  top: 0;
  right: calc(100% - 2rem);
  background-color: #eee;
  transition: all 0.2s ease-in-out;
}

.burger::after {
  content: '';
  width: 2rem;
  height: 0.2rem;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #eee;
  transition: all 0.3s;
}

.header.active .burger::before {
  transform: translate(100%, -0.1rem) rotate(35deg);
  top: 50%;
  transform-origin: right;
}

.header.active .burger::after {
  transform: translateY(0.1rem) rotateZ(-35deg);
  bottom: 50%;
  transform-origin: right;
}

.nav {
  width: 100%;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
  width: fit-content;
  margin: 0 auto;
  opacity: 0;
  visibility: hidden;
  transition: all 0.7s;
}

.header.active .nav__list {
  opacity: 1;
  visibility: visible;
  transition: all 0.7s 0.3s;
}

.nav__list-item {
  text-transform: uppercase;
  margin: 1rem 0;
  padding: 2rem;
  font-size: 4rem;
  letter-spacing: 0.3rem;
  font-weight: 600;
  transition: color 0.4s;
}

.nav__list-item:hover {
  color: #9e0e09;
}
/* End of Header styles */

/* Banner styles */
.banner {
  background-image: url('./assets/dark-bg.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.banner__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.banner__title {
  font-family: 'Oswald', sans-serif;
  height: 20rem;
  width: 100%;
  margin: 3rem 0;
  perspective: 50rem;
  overflow: hidden;
}

.banner__title span {
  text-transform: uppercase;
  text-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.5);
  letter-spacing: 3rem;
  font-size: 12rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateZ(8rem);
  opacity: 0;
  width: 100%;
  height: 100%;
}

.banner__title-1 {
  animation: zoomAnimation 12s 3s infinite;
}

.banner__title-2 {
  animation: zoomAnimation 12s 6s infinite;
}

.banner__title-3 {
  animation: zoomAnimation 12s 9s infinite;
}

.banner__title-4 {
  animation: zoomAnimation 12s 12s infinite;
}

.banner__subtitle {
  background: rgba(0, 0, 0, 0.6);
  font-size: 4rem;
  padding: 1rem;
  box-shadow: 1rem 1rem 6rem rgba(0, 0, 0, 0.5);
  text-decoration: uppercase;
  margin: 1rem auto 4rem auto;
  opacity: 0;
  visibility: hidden;
  animation: appearAnimation 1s 1.5s forwards;
}

.banner__button {
  opacity: 0;
  visibility: hidden;
  animation: appearAnimation 1s 2s forwards;
  position: relative;
  overflow: hidden;
  width: 30rem;
}

.banner__button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  transform: skewX(-30deg);
  background: linear-gradient(to right, transparent, #fff, transparent);
  transition: left 0.5s;
}

.banner__button:hover::before {
  left: 100%;
  opacity: 1;
  visibility: visible;
}
/* End of Banner styles */

/* About Us styles */
.about-us {
  background-color: #222020;
  height: 100vh;
  display: flex;
  position: relative;
}

.about-us__inner {
  display: flex;
  align-items: center;
  height: 100vh;
}

.video-wrapper {
  width: 100rem;
  height: 50rem;
  position: absolute;
  top: 7rem;
  right: 10rem;
  box-shadow: 3rem 3rem 3rem rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
  transition: opacity 0.3s;
}

.video__controls {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateY(calc(100% - 0.4rem));
  transition: transform 0.4s;
}

.video-wrapper:hover .video__controls {
  transform: translateY(0);
}

.video__buttons-wrapper {
  padding: 2rem 1rem 1rem 1rem;
}

.video__button {
  background: none;
  border: none;
  cursor: pointer;
}

.video__button i {
  font-size: 2.8rem;
}

.video__bar-wrapper {
  width: 100%;
  height: 0.7rem;
  background-color: #000;
  position: absolute;
  left: 0;
  top: 0;
}

.video__bar {
  height: 100%;
  width: 0;
  background-color: #d30819;
  transition: width 0.2s linear;
}

.about-us__quote {
  width: 100rem;
  padding: 1rem;
  border-top: 0.3rem double #aaa;
  border-bottom: 0.3rem double #aaa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 7rem;
  right: 10rem;
  font-size: 2rem;
  color: #ddd;
  text-align: justify;
  text-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.7);
  line-height: 1.5;
}

.fa-quote-left {
  align-self: flex-start;
  margin-bottom: 3rem;
  font-size: 5rem;
}

.fa-quote-right {
  align-self: flex-end;
  margin-top: 3rem;
  font-size: 5rem;
}

/* End of About Us styles */

/* Pricing styles */
.pricing {
  background-color: #03070e;
}

.pricing__inner {
  height: 100vh;
  display: flex;
  align-items: center;
}

.pricing__list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 5rem;
}

.pricing__list-item {
  margin: 1rem;
  background-color: #181b1d;
  box-shadow: 2rem 2rem 6rem rgba(0, 0, 0, 0.7);
  border-radius: 1rem;
  width: 28rem !important;
  height: 50rem !important;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  backface-visibility: hidden;
}

.card__title {
  font-size: 2rem;
  font-weight: 300;
  padding: 2rem;
  text-transform: uppercase;
  align-self: flex-start;
  width: 100%;
}

.card__price {
  align-self: center;
  font-weight: 800;
  font-size: 5rem;
  margin: 4rem 0;
}

.card__list {
  margin: 0 3rem;
}

.card__list-item {
  margin-bottom: 1.5rem;
}

.card__list-item i {
  margin-right: 1rem;
  font-size: 1.8rem;
}

.card__list-item span {
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

.card--free .card__title {
  background: linear-gradient(to right, #087285, #0da5d3);
  border-radius: 1rem 1rem 0 0;
}

.card--free .card__list {
  color: #0da5d3;
}

.card--free .card__button {
  background-color: #0da5d3;
}

.card--basic .card__title {
  background: linear-gradient(to right, #946809, #bdba0e);
  border-radius: 1rem 1rem 0 0;
}

.card--basic .card__list {
  color: #bdba0e;
}

.card--basic .card__button {
  background-color: #bdba0e;
}

.card--standard .card__title {
  background: linear-gradient(to right, #a10c14, #e23b3b);
  border-radius: 1rem 1rem 0 0;
}

.card--standard .card__list {
  color: #e23b3b;
}

.card--standard .card__button {
  background-color: #e23b3b;
}

.card--premium .card__title {
  background: linear-gradient(to right, #0b7e48, #3be286);
  border-radius: 1rem 1rem 0 0;
}

.card--premium .card__list {
  color: #3be286;
}

.card--premium .card__button {
  background-color: #3be286;
}

.card__button {
  margin: 2rem;
  width: 15rem;
  text-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.5);
}

.card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
  border-radius: 1rem;
  backface-visibility: hidden;
}

.card-back--free {
  background: linear-gradient(to right, #087285, #0da5d3);
}

.card-back--basic {
  background: linear-gradient(to right, #946809, #bdba0e);
}

.card-back--standard {
  background: linear-gradient(to right, #a10c14, #e23b3b);
}

.card-back--premium {
  background: linear-gradient(to right, #0b7e48, #3be286);
}

.card-back__link {
  font-size: 3rem;
}
/* End of Pricing styles */

/* Contacts */
.contacts {
  background-color: #171718;
}

.contacts__inner {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  padding: 5rem 0;
}

.contacts__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 7rem;
  padding: 3.7rem;
}

.contacts__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__icon i {
  color: #7a1010;
  font-size: 4.6rem;
}

.contacts__category {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 2.6rem;
  color: #ccc;
}

.contacts__list-item ul {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #aaaaaa;
}

.contacts__form {
  text-align: center;
  width: 64rem;
}

.contacts__input {
  margin-bottom: 1.8rem;
}

.contacts__form-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 6rem;
  color: #ccc;
  margin-bottom: 2.7rem;
}
/* End of Contacts */

/* Footer */
.footer {
  background-color: #202122;
  padding: 4rem 0;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer__list {
  display: flex;
  font-size: 1.8rem;
  line-height: 2.2rem;
  letter-spacing: 0.1rem;
  color: #ccc;
}

.footer__list-item {
  margin-right: 2rem;
}

.footer__copyright {
  font-size: 1.8rem;
  line-height: 3rem;
  color: #ddd;
}
/* End of Footer */

/* Keyframes animations */
@keyframes zoomAnimation {
  0% {
    transform: translateZ(8rem);
    opacity: 0;
    letter-spacing: 3rem;
  }

  3% {
    transform: translateZ(0);
    opacity: 1;
    letter-spacing: 1rem;
  }

  25% {
    transform: translateZ(0);
    opacity: 1;
    letter-spacing: 1rem;
  }

  28% {
    transform: translateZ(8rem);
    opacity: 0;
    letter-spacing: 3rem;
  }

  100% {
    transform: translateZ(8rem);
    opacity: 0;
    letter-spacing: 3rem;
  }
}

@keyframes appearAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes headerAnimation {
  0% {
    top: -8rem;
  }

  100% {
    top: 0;
  }
}
/* End of Keyframe animations */
